.install-page {
  min-height: 100%;
  background-color: var(--color-primary);
  background-image: url("../images/spots.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: right top 20px;
}
.install-page .layout-container {
  margin: 80px auto !important;
  position: relative;
}
.install-page .layout-container .badge-logo {
  display: block;
  position: absolute;
  transform: translate(-50%, 100%);
  left: 50%;
  bottom: -50px;
}
@media all and (min-width: 48em) {
  .install-page .layout-container {
    /* 768px */
    display: flex;
    flex-wrap: wrap;
    gap: 30px 60px;
  }
  .install-page .layout-container > header {
    width: 100%;
  }
  .install-page .layout-container > main {
    flex: 1 0 50%;
  }
}
[dir=rtl] .install-page {
  background-position: right top, 50% 50%;
}
.install-page .password-parent,
.install-page .confirm-parent {
  width: auto;
}
.install-page .form-item .password-suggestions {
  float: none;
  width: auto;
}
.install-page table td {
  word-break: break-all;
}
.install-page .site-version {
  vertical-align: super;
  color: var(--color-warning);
  font-size: 0.5em;
}
@media all and (min-width: 48em) {
  .install-page .task-list li {
    padding: 0.5em 1em 0.5em 2em;
  }
}
