//
// Centarro Claro - Main styles.
// ----------------------------

// Colors.

// - State.
$primary:        #4b4e9f;
$success:        #00746b;
$info:           #72b5e4;
$warning:        #f28d4f;
$danger:         #ff4141;

$primary-hover:  #2c2f70;

// Typography
$font-size-root: 15px;
$font-size-md:   14px;

// Root CSS variables.
:root {
  --color-white:         white;
  // State colors
  --color-primary:       #{$primary};
  --color-success:       #{$success};
  --color-info:          #{$info};
  --color-warning:       #{$warning};
  --color-danger:        #{$danger};
  --color-primary-hover: #{$primary-hover};
  // Font sizes
  --font-size-root:      #{$font-size-root};
  --font-size-md:        #{$font-size-md};
  // Headings
  --headings-color:      #{$primary-hover};
  --headings-fw:         bold;
}

// html {
//   font-size: var(--font-size-root);
// }
a, .link {
  color: var(--color-primary);
}

// Headings
h1,.heading-a,
h2,.heading-b,
h3,.heading-c,
h4,.heading-d,
h5,.heading-e,
h6,.heading-f {
  color: var(--headings-color);
  color: var(--headings-fw);
}

.messages__title {
  color: var(--color-white);
}

// Buttons.
.button--primary {
  background-color: var(--color-primary);
  &:hover {
    background-color: var(--color-primary-hover);
  }
}

// Progress bar
.progress__bar {
  border: 1px var(--color-warning) solid;
  background-color: var(--color-warning);
}
